import { Directive, HostListener, ElementRef } from '@angular/core';
import { window } from '@angular/platform-browser/src/facade/browser';

@Directive({
  selector: '[appCommonVerticalAlign]'
})
export class AdaptiveContainer {

  @HostListener('window:resize', ['$event'])
  @debounce(100)
  onResize(event: any) {
    const result = (event && event.target.innerHeight || 0);
    this.elementRef.nativeElement.style.height = `${result}px`;
  }

  constructor( private elementRef: ElementRef) {
    this.elementRef.nativeElement.style.height = (window.innerHeight && `${window.innerHeight}px`);
  }
}